# i3status configuration file.
# see "man i3status" for documentation.


# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
   output_format = "i3bar"
   colors = true
   markup = pango
   color_good = "#00FF00"  # Green
   color_degraded = "#ffd700"  # Gold
   color_bad = "#FF0000"  # Red
   separator = "="
}

# order += "battery all"

order += "ethernet _first_"
order += "disk /"
order += "cpu_temperature 0"
order += "wireless _first_"
order += "load"
order += "memory"
order += "volume master"
order += "tztime local"

wireless _first_ {
       # format_up = "W: (%quality at %essid) %ip"
       format_up = "W: (%quality) Leaked IP: %ip"
       format_down = "W: down"
}

ethernet _first_ {
   format_up = "🌐 %ip (%speed)"
   format_down = "⚠️ no ethernet</span>"
}

# battery all {
#   format = "%status %percentage %remaining"
# }

disk "/" {
   # format = "%avail"
   format = "%avail"
}

cpu_temperature 0 {
   format = "%degrees °C"
   max_threshold = 69
   format_above_threshold = "%degrees °C"
   path = "/sys/class/thermal/thermal_zone0/temp"
}

load {
   format = "Hot Loads: %1min"
   max_threshold = 8
}

memory {
   memory_used_method = "memavailable"
   threshold_degraded = "25%"
   threshold_critical = "10%"
   format = "%used"
   format_degraded = "%used"
   # prefix_type = "decimal"
}

volume master {
   # format_muted = " muted (%volume)"
   # format = "%volume"
   format = " %volume"
   format_muted = "<span color='#FF0000'> muted (%volume)</span>"
   device = "pulse"
   mixer = "Master"
   mixer_idx = 0
}

tztime local {
   locale = "en_US.UTF-8"
   format = " <span color='#fff'> %a %d-%m-%Y</span> <span color='#fff'>%H:%M:%S</span>"
   # format = "  %a %-d %b %H:%M:%S"
}




